@font-face {
  font-family: 'PokemonGSK2';
  src: url('./font/PokemonGSK2.woff2') format('woff2'),
    url('./font/PokemonGSK2.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: 'PokemonGSK2';
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
}

html,
body,
p,
ul,
li,
ol,
dl,
dt,
dd,
fieldset {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input[type='checkbox'],
label {
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus {
  outline: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
